<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>

</head>
    <body>
        <script>
    async function checkEntry(){
     var aa = document.getElementById("aa").value;
	socket.emit('exampleEvent',aa);

	var res;

	await socket.on('aa', (data)=>{
		res = data;
    console.log(data)
	});
	return res;
}






        </script>
        <h1>Ohayo</h1>
        <input type="text" name="" id="aa">
        <button id="btn">click here</button>
        <script>  document.getElementById("btn").onclick = 
(async () => {
  await checkEntry();
})


        </script>
    </body>
</html>